<?xml version="1.0" ?>
<config>
    <modules>
        <Test_First>
            <version>1.0.0</version>
        </Test_First>
    </modules>
    <global>
    </global>
    <frontend>
        <layout>
            <updates>
                <first>
                    <file>test/first.xml</file>
                </first>
            </updates>
        </layout>
    </frontend>
</config>